<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>N/A</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>LiveAssist SDK Version</string>
			<key>Key</key>
			<string>assistVersion</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>https://cbaliveassist.com/en/</string>
			<key>IsSecure</key>
			<false/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Web Site</string>
			<key>Key</key>
			<string>websiteAddress</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>192.168.0.1</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>serverAddress</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Support Server Address</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>black</string>
			<key>IsSecure</key>
			<false/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Icon Image</string>
			<key>Key</key>
			<string>iconImage</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>agent1</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Agent</string>
			<key>Key</key>
			<string>targettedAgent</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Autostart</string>
			<key>Key</key>
			<string>autostart</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Correlation Id</string>
			<key>Key</key>
			<string>correlationId</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User to User information</string>
			<key>Key</key>
			<string>uui</string>
			<key>DefaultValue</key>
			<string> </string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
